@charset "utf-8";
/* CSS Document */

img{max-width: 100%;height:auto;}
html{scroll-behavior: smooth;}
img {
  transition: transform 0.3s ease; /* アニメーション */
  will-change: transform;
}
img:hover {
  transform: scale(1.05); /* 1.1倍に拡大 */
}


/*=============
.bg_pattern
==============*/

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.4;
  z-index: -1;
}
.Polka_v2 {
  background-image:  radial-gradient(#ffc107 2px, transparent 2px), radial-gradient(#ffc107 2px, #ffffff 2px);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px;
}

/*=============
base
==============*/

html, body {
  margin: 0;
  padding: 0;
}
body{
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  font-style: normal;
  color: #665447;
  letter-spacing: .025em;
  line-height: 1.8;
  
}
* {
  box-sizing: border-box;
}
body a:link{text-decoration: none; color: #665447;}
body a:visited{text-decoration: none; color: #665447;}
body a:hover{text-decoration: none; color: #ffc107;}
body a:active{text-decoration: none; color: #ffc107;}

p{
  font-size: 16px;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}
ul {
  list-style: circle inside;
}

/* モバイルレイアウト : 400 px 以下 */
@media only screen and (max-width: 400px) {
  h1{
    font-size: 26px;
  }
  h2{
    font-size: 21px;
  }
}

/* .section {
  max-width: 1024x;
  margin: 0 auto;
  padding: 100px 20px 1000px;
}
._a {
  max-width: 300px;
  margin: 0 auto;  
}
._a a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.0em 1.0em;
  border: 1px solid #222222;
  background: linear-gradient(to right, #ffffff 50%, #222222 50%);
  background-size: 200% auto;
  color: #222222;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  position: relative;
}
._a a:after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
}
._a a:hover {
  color: #ffffff;
  background-position: -100% 0;
} */


/* ------
ヘッダー
------- */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1200px;
  z-index: 3;  
}
.box-1{
  /* width: 100%;
  margin: 0 auto; */
  background-color:#fff;
  border: 1.5px solid #ffda69;
  border-radius: 100px;
  width: fit-content;
  height: fit-content;
  padding: 12px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.box-2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-2 p{
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-menu{
  display: flex;
  margin-right: 30px;
}
.head-menu2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ko-txt{
  font-size: 12px;
  color: #998474;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .ko-txt:hover{text-decoration: none; color: #ffc107;} */

.head-menu:hover p,
.head-menu:hover span {
  text-decoration: none; color: #ffc107;
}
.head-menu2:hover p,
.head-menu2:hover span {
  text-decoration: none; color: #ffc107;
}

/*-------- 
フッター
-------- */

footer{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top: 1.5px solid #ffda69;
    margin-top: 100px;
}
.foot-txt{
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.foot-ko1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 7%;
}
.foot-ko2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
    color: #998474;
    font-size: 12px;
}

/* モバイルレイアウト : 400 px 以下 */
@media only screen and (max-width: 500px) {
  footer{
    margin-top: 50px;
  }
  .foot-txt{
    font-size: 14px;
  }
  .foot-ko2{
    font-size: 10px;
  }
  .foot-ko1{
    margin-left: 5%;
  }
  .foot-ko2{
    margin-right: 5%;
  }
}

/* モバイルレイアウト : 400 px 以下 */
@media only screen and (max-width: 400px) {
  .box-1{
    padding: 12px 34px;
  }
  .box-2 p{
    font-size: 14px;
  }
  .ko-txt{
    font-size: 10px;
  }
  .foot-txt{
    font-size: 12px;
  }
  .foot-ko2{
    font-size: 8px;
  }
  .foot-ko1{
    margin-left: 5%;
  }
  .foot-ko2{
    margin-right: 5%;
  }
}


/* ↑↑-----------------↑↑
　ヘッダー・フッターここまで
 　↑↑-----------------↑↑

 -----------------
　ここから<body>
----------------- */

.yohaku{
  height: 135px;
}
.mv-box {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 15px;
  padding: 100px;
  background: #fff;
  border: 1.5px solid #ffda69;
  border-radius: 80px;
}

/* 下枠を消すマスク */
.mv-box span.mask {
  position: absolute;
  bottom: -1.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 3px;
  background: #fff;
  z-index: 2;
}

/* 三角（外） */
.mv-box::before {
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 60px;
  background: #ffda69;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  z-index: 1;
}

/* 三角（中） */
.mv-box::after {
  content: '';
  position: absolute;
  bottom: -58.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 77px;
  height: 58.5px;
  background: #fff;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  z-index: 2;
}

.img-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-title img:hover {
  animation: wiggle 0.4s ease-in-out;
  transform: scale(1);
}

@keyframes wiggle {
  0%   { transform: rotate(0); }
  25%  { transform: rotate(-3deg); }
  50%  { transform: rotate(3deg); }
  75%  { transform: rotate(-3deg); }
  100% { transform: rotate(0); }
}

.name-bottom{
  margin-bottom: 50px;
}
.mv-txt{
  margin-top: 50px;
}
.img-illust{
  display: flex;
  justify-content: center;
  margin-top: 105px;
  margin-bottom: 60px;
}
.img-illust img:hover{
  transform: scale(1);
}
.illust-txt{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
}

.button-oya{
    width: 100%;
    margin: 0 auto;
}
.btn-box{
    max-width: 180px;
    margin: 0 auto;
}

/* .button{
    width: 180px;
    height: 60px;
    border: 2px solid #665447;
    background-color: #fff;
    border-radius: 80px;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    border: 2px solid #ffda69;
    background-color: #ffda69;
    color: #fff;
    transition: all .2s;
    transform: scale(1.1,1.1);
}
.button:active{
    text-decoration: none; color: #fff;
} */


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 210px;
    margin:0 auto;
    padding: .9em 2em;
    overflow: hidden;
    border: 2px solid #665447;
    border-radius: 80px;
    background-color: #fff;
    color: #665447;
    font-size: 1em;
}

.button:hover {
    border: 2px solid #ffda69;
    background-color: transparent;
    color: #fff;
}

.button::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #ffda69;
    content: '';
    transition: width .5s ease;
}

.button:hover::before {
    width: 100%;
}

.yohaku2{
  margin-top: 100px;
  height: 100px;
}
.works-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 200px; */
  margin-bottom: 100px;
}

.works-title:hover {
  animation: wiggle 0.4s ease-in-out;
  transform: scale(1);
}

@keyframes wiggle {
  0%   { transform: rotate(0); }
  25%  { transform: rotate(-3deg); }
  50%  { transform: rotate(3deg); }
  75%  { transform: rotate(-3deg); }
  100% { transform: rotate(0); }
}

.works-web{
  max-width: 1200px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0 auto;
  padding: 100px 80px;
  background-color: #fff;
  border: 1.5px solid #ffda69;
  border-radius: 80px;
}
.title-maru{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #f4c73f;
  margin-bottom: 50px;
}
.title-maru::before{
  content: "\25CF";
}


.sakuhin-box{
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}


.sakuhin-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 190px;
    margin-right: 25px;
}
.sakuhin-1 img{
    margin-right: 50px;
}

.sakuhin-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 190px;
}
.sakuhin-2 img{
    margin-right: 50px;
}
.ring-title{
    margin-bottom: 10px;
}
.ring-3koutei{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}


.sakuhin-3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 200px; */
    margin-bottom: 50px;
}
.sakuhin-3 img{
    margin-left: 60px;
}
.miso-title{
    font-size: 21px;
    margin-bottom: 10px;
}
.miso-3koutei{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px
}
.works-miso{
    margin-right: 10%;
}


.works-idol{
    margin-left: 10%;
}
.idol-title{
    font-size: 21px;
    margin-bottom: 10px;
}
.idol-3koutei{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}

.works-ring{
    margin-left: 10%;
}
.ring-title{
    font-size: 21px;
    margin-bottom: 10px;
}

.wagashi-title{
    font-size: 21px;
    margin-bottom: 10px;
}
.wagashi-3koutei{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}

.works-chair{
    margin-right: 10%;
}
.chair-title{
    font-size: 21px;
    margin-bottom: 10px;
}
.chair-3koutei{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}


.apple-title{
    font-size: 21px;
    margin-bottom: 10px;
}
.apple-3koutei{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}

.apple-title{
    font-size: 21px;
    margin-bottom: 10px;
}
.apple-3koutei{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}


.kikaku{
    border: 1.5px solid #665447;
    background-color: #fff;
    border-radius: 30px;
    padding: 3px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.design{
    border: 1.5px solid #665447;
    background-color: #fff;
    border-radius: 30px;
    padding: 3px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coding{
    border: 1.5px solid #665447;
    background-color: #fff;
    border-radius: 30px;
    padding: 3px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setumei{
    margin-bottom: 50px;
}
.view-more{
    margin-left: 350px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------

　　もっとみるの三角

------------------- */
.arrow {
    display: inline-flex;
    align-items: center;
}

.arrow::after {
    content: "";
    margin-left: 6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #665447; /* 矢印の色 */
}

/* ▼ hover 時に矢印（三角）の色を変える */
.arrow:hover::after {
    border-left-color: #ffda69;
}

/* モバイルレイアウト : 400 px 以下 */
@media only screen and (max-width: 500px) {
  .mv-box {
    position: relative;
    width: 90%;
    margin: 0 auto 15px;
    padding: 70px;
    background: #fff;
    border: 1.5px solid #ffda69;
    border-radius: 80px;
  }
  .portfolio-size{
    width: 230px;
  }
  .img-illust img{
    width: 180px;
  }
  .illust-txt{
    width: 80%;
  }
  .works-web{
    width: 90%;
    padding: 70px 50px;
  }
  .sakuhin-1{
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 100px;
  }
  .sakuhin-1 img{
    margin-bottom: 30px;
    margin-right: 0;
  }
  .sakuhin-2{
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 100px;
  }
  .sakuhin-2 img{
    margin-bottom: 30px;
    margin-right: 0;
  }
  .apple-txt{
    width: 100%;
  }
  .wagashi-txt{
    width: 100%;
  }
  .ring-txt{
    width: 100%;
  }
  .idol-txt{
    width: 100%;
  }
  .sakuhin-3{
    flex-direction: column-reverse;
    /* margin-top: 30px; */
    margin-bottom: 0;
  }
  .sakuhin-3 img{
    margin-bottom: 30px;
    margin-left: 0;
  }
  .miso-txt{
    width: 100%;
  }
  .view-more{
    width: 100%;
    margin-left: 0;
    justify-content: flex-end;
    /* margin-bottom: 50px; */
  }
  .apple-3koutei{
    font-size: 12px;
  }
  .wagashi-3koutei{
    font-size: 12px;
  }
  .ring-3koutei{
    font-size: 12px;
  }
  .idol-3koutei{
    font-size: 12px;
  }
  .miso-3koutei{
    font-size: 12px;
  }
  .kikaku{
    padding: 3px 10px;
  }
  .design{
    padding: 3px 10px;
  }
  .coding{
    padding: 3px 10px;
  }
}

/* モバイルレイアウト : 400 px 以下 */
@media only screen and (max-width: 400px) {
  .mv-txt{
    font-size: 12px;
  }
  .apple-title{
    font-size: 18px;
  }
  .wagashi-title{
    font-size: 18px;
  }
  .ring-title{
    font-size: 18px;
  }
  .idol-title{
    font-size: 18px;
  }
  .miso-title{
    font-size: 18px;
  }
}


/* ----------------

　制作した作品詳細

----------------- */

.works{
    max-width: 1200px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0 auto;
  padding: 80px 150px;
  background-color: #fff;
  border: 1.5px solid #ffda69;
  border-radius: 80px;
  margin-top: 150px;
}

.btn-box2{
    width: auto;
    /* margin-left: 330px; */
    margin-top: -80px;
    margin-bottom: 100px;
    a:link{text-decoration: none; color: #665447;}
    a:visited{text-decoration: none; color: #665447;}
    a:hover{text-decoration: none; color: #665447;}
    a:active{text-decoration: none; color: #665447;}
}
.all-btn2{
    width: 180px;
    height: 55px;
    border: 2px solid #665447;
    background-color: #fff;
    border-radius: 80px;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-btn2:hover{
    border: 2px solid #ffda69;
    background-color: #ffda69;
    color: #fff;
    /* width: 185px;
    height: 75px; */
    transition: all .2s;
    transform: scale(1.1,1.1);
}


.web-back h2{
    font-size: 30px;
}
.web-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #665447;
    margin-bottom: 70px;
}
.web-box{
    width: 100%;
}
.web-txt{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
    line-height: 50px;
}
.web-txt2{
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    line-height: 50px;
    /* margin-left: 80px; */
}
.web-txt2 h3{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-left: 230px; */
}

/* モバイルレイアウト : 400 px 以下 */
@media only screen and (max-width: 500px) {
  .works{
    width: 85%;
    padding: 50px 50px;
  }
  .web-txt{
    line-height: 30px;
  }
  .all-btn2{
    width: 150px;
    height: 55px;
    font-size: 17px;
    padding: 10px 15px;
  }
  .web-txt2{
    margin-bottom: 15px;
  }
}


/* ---------------------

　制作詳細 小見出し前 ●

--------------------- */

.cute-title {
  position: relative;
  padding-left: 18px;
}

.cute-title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffda69;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}


/* --------------------------

　デザインコンセプト/カラー★

-------------------------- */

.dot-before1::before {
  content: "★";   /* 文字のあとに星 */
  color: #f9f7ed;      /* 色変更OK */
}
.dot-before2::before {
  content: "★";   /* 文字のあとに星 */
  color: #d3c7b2;      /* 色変更OK */
}
.dot-before3::before {
  content: "★";   /* 文字のあとに星 */
  color: #f2eedd;      /* 色変更OK */
}
.dot-before4::before {
  content: "☆";   /* 文字のあとに星 */
  color: #665447;      /* 色変更OK */
}
.dot-before5::before {
  content: "★";   /* 文字のあとに星 */
  color: #c2e8a1;      /* 色変更OK */
}
.dot-before6::before {
  content: "★";   /* 文字のあとに星 */
  color: #553d13;      /* 色変更OK */
}
.dot-before7::before {
  content: "★";   /* 文字のあとに星 */
  color: #cdcdcd;      /* 色変更OK */
}
.dot-before8::before {
  content: "★";   /* 文字のあとに星 */
  color: #5d5e5e;      /* 色変更OK */
}
.dot-before9::before {
  content: "★";   /* 文字のあとに星 */
  color: #e9e6d7;      /* 色変更OK */
  margin-left: -10px;
}
.dot-before10::before {
  content: "★";   /* 文字のあとに星 */
  color: #BD8B75;      /* 色変更OK */
}
.dot-before11::before {
  content: "★";   /* 文字のあとに星 */
  color: #7F5B4C;      /* 色変更OK */
}
.dot-before12::before {
  content: "★";   /* 文字のあとに星 */
  color: #6287f5;      /* 色変更OK */
}
.dot-before13::before {
  content: "★";   /* 文字のあとに星 */
  color: #e4f3fa;      /* 色変更OK */
}
.dot-before14::before {
  content: "★";   /* 文字のあとに星 */
  color: #d1edff;      /* 色変更OK */
}
.dot-before15::before {
  content: "★";   /* 文字のあとに星 */
  color: #eaacae;      /* 色変更OK */
}
.dot-before16::before {
  content: "★";   /* 文字のあとに星 */
  color: #d8719b;      /* 色変更OK */
}
.dot-before17::before {
  content: "★";   /* 文字のあとに星 */
  color: #fbe4b4;      /* 色変更OK */
}
.dot-before18::before {
  content: "★";   /* 文字のあとに星 */
  color: #f6bda6;      /* 色変更OK */
}
.dot-before19::before {
  content: "★";   /* 文字のあとに星 */
  color: #bbe0d7;      /* 色変更OK */
}
.dot-before20::before {
  content: "★";   /* 文字のあとに星 */
  color: #81c69a;      /* 色変更OK */
}
.dot-before21::before {
  content: "★";   /* 文字のあとに星 */
  color: #373B49;      /* 色変更OK */
}
.dot-before22::before {
  content: "★";   /* 文字のあとに星 */
  color: #fbecd7;      /* 色変更OK */
}
.dot-before23::before {
  content: "★";   /* 文字のあとに星 */
  color: #d195ac;      /* 色変更OK */
}
.dot-before24::before {
  content: "★";   /* 文字のあとに星 */
  color: #659a9b;      /* 色変更OK */
}
.dot-before25::before {
  content: "★";   /* 文字のあとに星 */
  color: #bd982f;      /* 色変更OK */
}
.dot-before26::before {
  content: "★";   /* 文字のあとに星 */
  color: #101010;      /* 色変更OK */
}
.dot-before27::before {
  content: "★";   /* 文字のあとに星 */
  color: #FFFAD8;      /* 色変更OK */
}
.dot-before28::before {
  content: "★";   /* 文字のあとに星 */
  color: #FFF2A1;      /* 色変更OK */
}
.dot-before29::before {
  content: "★";   /* 文字のあとに星 */
  color: #F25959;      /* 色変更OK */
}
.dot-before30::before {
  content: "★";   /* 文字のあとに星 */
  color: #EEF4C9;      /* 色変更OK */
}
.dot-before31::before {
  content: "★";   /* 文字のあとに星 */
  color: #91743E;      /* 色変更OK */
}



/* ------------------

　サイト内スクロール

------------------- */

.sample-oya{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
.sample-box {
    max-width: 900px;                /* 横幅を200pxに指定 */
    max-height: 600px;               /* 横幅を200pxに指定 */
    border: 1px solid #e4e4e4;      /* わかりやすくボーダーを引く */
    overflow-y: auto;          /* 縦方向にスクロール可能にする */
}

.sample-box img {
    transition: none
}
.sample-box img:hover {
    transform: none
}

.sample-box2 {
    max-width: 900px;                /* 横幅を200pxに指定 */
    max-height: 600px;               /* 横幅を200pxに指定 */
    border: 1px solid #e4e4e4;      /* わかりやすくボーダーを引く */
    margin-bottom: 100px;
}
.sample-box2 img {
    transition: none
}
.sample-box2 img:hover {
    transform: none
}



/* モバイルレイアウト : 400 px 以下 */
@media only screen and (max-width: 400px) {
  

}



/* ---------------

　プロフィール

--------------- */

.prof{
  width: 100%;
}
.prof img {
  transition: none
}
.prof img:hover {
  transform: none
}
.prof-title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #665447;
  margin-top: 150px;
}

.prof-main{
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
.prof-df{
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof-img{
  margin-right: 140px;
  /* margin-left: 150px; */
  margin-bottom: 100px;
}
.prof-name{
  margin-top: -150px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.prof-name img{
  position: relative;
  margin-top: -50px;
}
.me-name{
  position: absolute;
  font-size: 36px;
  margin-top: -80px;
  margin-left: 50px;
}
.desu{
  font-size: 24px;
}

.me-setumei{
  width: 430px;
  margin-top: 100px;
}
.skills-setumei{
  margin-bottom: 15px;
}

/* .prof-txt{
    margin-left: 180px;
} */
.seinengappi{
  margin-bottom: 30px;
}
.prof-like{
  margin-bottom: 10px;
  color: #f4c73f;
}
.like-box{
  margin-bottom: 30px;
}
.likebox-1{
  display: flex;
  gap: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}
.prof-seikaku{
  margin-bottom: 10px;
  color: #f4c73f;
}
.seikaku-box{
  line-height: 35px;
}

.subbox{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}


.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #f4c73f;
  margin-bottom: 50px;
  margin-top: 50px;
}
.skills-img{
  width: 600px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.skills-img img{
  margin-right: 20px;
}
.skills-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-box img{
  margin-bottom: 5px;
}
.skills-txt{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 200px;
}


.circle {
  width: 30px;
  height: 30px;
  background-color: #f4c73f; /* 中の色 */
  border: 1px solid #8b7a6b; /* 縁の色 */
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 10px;
}
.circle2 {
  width: 30px;
  height: 30px;
  background-color: #fff; /* 中の色 */
  border: 1px solid #8b7a6b; /* 縁の色 */
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 10px;

}


/* ---------------

　  プロフィール

--------------- */

/* モバイルレイアウト : 400 px 以下 */
@media only screen and (max-width: 500px) {
  .prof-df{
    flex-direction: column;
  }
  .prof-img{
    margin-right: 0;
    width: 70%;
  }
  .prof-name{
    margin-top: 0;
  }
  .prof-name img{
    display: none;
  }
  .me-name{
    font-size: 30px;
    margin-top: 0;
    margin-left: 0;
  }
  .desu{
    display: none;
  }
  .me-setumei{
    width: 380px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .subbox{
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 100px;
  }
  .skills{
    margin-top: 50px;
  }
  .skills-img{
    width: 90%;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .skills-img img{
    gap: 10px;
  }
  .skills-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .circle {
    width: 25px;
    height: 25px;
    border: 1.5px solid #8b7a6b; /* 縁の色 */
    margin-right: 15px;
    margin-top: -10px;
  }
  .circle2 {
    width: 25px;
    height: 25px;
    border: 1.5px solid #8b7a6b; /* 縁の色 */
    margin-right: 15px;
    margin-top: -10px;
  }
}

/* モバイルレイアウト : 400 px 以下 */
@media only screen and (max-width: 400px) {
  .prof-txtbox{
    width: 80%;
  }
  .me-setumei{
    width: 330px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
